/* Start Variables */
:root {
    --background-color: #f0f0f0;
    --background-color-2: #ccc;
    --background-color-3: #000016;
    --background-color-hover: rgb(255 255 255/50);
    --First-color: #3a6cf4;
    --Second-color: #601cfc;
    --color-p: #777;
    --transition-page: 0.3s linear;
    --border-radius-hover: 10px;
    --padding-section: 30px;
}

/* End Variables */
/* Start Link Font Google  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* End Link Font Google  */

/* Start Global Rules  */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

/* Start Scrollbar  */

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background: var(--First-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--Second-color);
}

::-webkit-scrollbar-button {
    background: var(--background-color);
}

/* End Scrollbar  */
ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules  */
/* Start Components  */
.main-heading {
    text-align: center;
    margin: auto;
}

.main-heading h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 70px;
    position: relative;
    text-transform: uppercase;
    color: var(--First-color);
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}

.social-icons a {
    font-size: 40px;
    padding-left: 10px;
    color: white;
    transition: var(--transition-page);
    -webkit-transition: var(--transition-page);
    -moz-transition: var(--transition-page);
    -ms-transition: var(--transition-page);
    -o-transition: var(--transition-page);
}

@media(max-width:767px) {
    .social-icons a {
        font-size: 22px;
    }
}

.social-icons a:first-child:hover {
    color: #0077b5;
}

.social-icons a:nth-child(2):hover {
    color: #24292e;
}

.social-icons a:nth-child(3):hover {
    color: #075e54;
}

.social-icons a:nth-child(4):hover {
    color: #4267B2;
}

.social-icons a:nth-child(5):hover {
    color: #fccc63;
}

.social-icons a:last-child:hover {
    color: #00ff8d;
}

/* End Components  */
/* Start Header  */
header {
    background-color: var(--background-color);
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 10px;
}

header .container .logo-header {
    font-size: 32px;
    font-weight: 900;
    color: var(--First-color);
    transition: var(--transition-page);
    -webkit-transition: var(--transition-page);
    -moz-transition: var(--transition-page);
    -ms-transition: var(--transition-page);
    -o-transition: var(--transition-page);
}

header .container .logo-header:hover {
    color: var(--Second-color);
}


header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav .toggle-menu {
    font-size: 22px;
}

@media(min-width:768px) {
    header nav .toggle-menu {
        display: none;
    }
}

header nav ul {
    display: flex;
}

@media(max-width:767px) {
    header nav ul {
        display: none;
    }

    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        background-color: var(--background-color);
        width: 100%;
        left: 0;
    }

    header nav ul li a {
        padding: 15px !important;
    }

}

header nav ul li a {
    display: block;
    position: relative;
    color: var(--First-color);
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: var(--transition-page);
    -webkit-transition: var(--transition-page);
    -moz-transition: var(--transition-page);
    -ms-transition: var(--transition-page);
    -o-transition: var(--transition-page);
    z-index: 999;
    border-radius: var(--border-radius-hover);
    -webkit-border-radius: var(--border-radius-hover);
    -moz-border-radius: var(--border-radius-hover);
    -ms-border-radius: var(--border-radius-hover);
    -o-border-radius: var(--border-radius-hover);
    padding: 10px 10px;
}

header nav ul li a:hover {
    color: var(--Second-color);
    background-color: var(--background-color-hover);
}

/* End Header  */
/* Start Landing */
.landing {
    background-image: url(../img/main.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    background-color: var(--background-color-3);
}

.landing .container {
    padding-top: calc(var(--padding-section) + 100px);
}

.landing .content-landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing .container .text-landing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
}

.landing .container .text-landing h2 {
    color: var(--First-color);
    font-weight: 800;
    line-height: 1.7;
    font-size: 80px;
    letter-spacing: 1px;
    margin-bottom: -20px;
}

.landing .container .text-landing h2 span,
.landing .container .text-landing h3 span {
    color: white;
}

.landing .container .text-landing h3 {
    color: var(--First-color);
    font-weight: 600;
    font-size: 80px;
    letter-spacing: 1px;
}


.landing .container .text-landing .main-btn {
    display: block;
    width: fit-content;
    padding: 20px 20px;
    height: 60px;
    font-weight: 700;
    font-size: 22px;
    color: white;
    background-color: var(--First-color);
    border-radius: var(--border-radius-hover);
    -webkit-border-radius: var(--border-radius-hover);
    -moz-border-radius: var(--border-radius-hover);
    -ms-border-radius: var(--border-radius-hover);
    -o-border-radius: var(--border-radius-hover);
    transition: var(--transition-page);
    -webkit-transition: var(--transition-page);
    -moz-transition: var(--transition-page);
    -ms-transition: var(--transition-page);
    -o-transition: var(--transition-page);
    margin-top: -50px;
}



@media(max-width:992px) {
    .landing .container .text-landing .main-btn {
        margin-top: 0px;
    }
}

.landing .container .text-landing .main-btn:hover {
    background-color: var(--Second-color);
}

.landing .container .text-landing .social-icons {
    margin: 20px 0;
}

.landing .container .avatar-logo img {
    width: 300px;
    border: 5px solid var(--First-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: var(--transition-page);
    -webkit-transition: var(--transition-page);
    -moz-transition: var(--transition-page);
    -ms-transition: var(--transition-page);
    -o-transition: var(--transition-page);
}

.landing .container .avatar-logo img:hover {
    transform: scale(1.1) rotate(6deg);
    -webkit-transform: scale(1.1) rotate(6deg);
    -moz-transform: scale(1.1) rotate(6deg);
    -ms-transform: scale(1.1) rotate(6deg);
    -o-transform: scale(1.1) rotate(6deg);
}

@media (max-width:992px) {
    .landing .container {
        padding-top: calc(var(--padding-section) + 100px);
    }

    .landing .container .content-landing {
        flex-direction: column;
    }

    .landing .container .avatar-logo {
        order: -1;
    }

    .landing .container .text-landing {
        text-align: center;
        align-items: center;
    }

    .landing .container .text-landing h2 {
        font-size: 60px;
    }

    .landing .container .text-landing h3 {
        font-size: 50px;
    }
}

/* End Landing */
/* Start Services */
.services {
    background-color: var(--background-color);
    min-height: 80vh;
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.services .content-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    text-align: center;
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    gap: 30px;
}

.services .content-cards .card {
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border: 4px solid var(--First-color);
    padding: 20px 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: var(--transition-page);
    -webkit-transition: var(--transition-page);
    -moz-transition: var(--transition-page);
    -ms-transition: var(--transition-page);
    -o-transition: var(--transition-page);
}

.services .content-cards .card:hover {
    transform: scale(1, 1) rotate(2deg);
    -webkit-transform: scale(1, 1) rotate(2deg);
    -moz-transform: scale(1, 1) rotate(2deg);
    -ms-transform: scale(1, 1) rotate(2deg);
    -o-transform: scale(1, 1) rotate(2deg);
}

.services .content-cards .card .icon_card {
    font-size: 80px;
    color: var(--First-color);
}

.services .content-cards .card .info {
    padding: 10px;
}

.services .content-cards .card .info h3 {
    font-weight: 900;
    font-size: 26px;
    color: var(--First-color);
}

.services .content-cards .card .info p {
    font-weight: 600;
    font-size: 18px;
    color: var(--color-p);
    line-height: 1.7;
}

/* End Services */
/* Start Projects */
.projects {
    background-color: var(--background-color-2);
    min-height: 80vh;
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.projects .content-projects {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    text-align: center;
    gap: 30px;
}

.projects .content-projects .card-p {
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border: 4px solid var(--First-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 30px 15px;
    min-height: 30vh;
    transition: var(--transition-page);
    -webkit-transition: var(--transition-page);
    -moz-transition: var(--transition-page);
    -ms-transition: var(--transition-page);
    -o-transition: var(--transition-page);
}

.projects .content-projects .card-p:hover {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
}

.projects .content-projects .card-p img {
    max-width: 100%;
    min-height: 176px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.projects .content-projects .card-p .text-card-p {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects .content-projects .card-p .text-card-p h3 {
    margin-top: 1px;
    text-align: start;
    font-size: 30px;
    font-weight: 800;
    color: var(--First-color);
}

.projects .content-projects .card-p .text-card-p a {
    margin-top: 60px;
    text-transform: capitalize;
    font-size: 19px;
    font-weight: 900;
    color: black;
    transition: var(--transition-page);
    -webkit-transition: var(--transition-page);
    -moz-transition: var(--transition-page);
    -ms-transition: var(--transition-page);
    -o-transition: var(--transition-page);
}

.projects .content-projects .card-p .text-card-p a:hover {
    color: var(--Second-color);
}

/* End Projects */
/* Start Contact */
.contact {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    min-height: 60vh;
    background-color: var(--background-color);
}

.contact .content-contact {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    text-align: center;
    gap: 30px;
}

.contact .content-contact .card-con {
    border: 4px solid var(--First-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 30px 15px;
    min-height: 30vh;
    transition: var(--transition-page);
    -webkit-transition: var(--transition-page);
    -moz-transition: var(--transition-page);
    -ms-transition: var(--transition-page);
    -o-transition: var(--transition-page);
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
}

.contact .content-contact .card-con:hover {
    transform: scale(1, 1) rotate(2deg);
    -webkit-transform: scale(1, 1) rotate(2deg);
    -moz-transform: scale(1, 1) rotate(2deg);
    -ms-transform: scale(1, 1) rotate(2deg);
    -o-transform: scale(1, 1) rotate(2deg);
}

.contact .content-contact .card-con .icon_card {
    font-size: 100px;
    color: var(--First-color);
}



.contact .content-contact .card-con .info {
    margin-top: 20px;
}

.contact .content-contact .card-con .info h3 {
    font-size: 40px;
    font-weight: 800;
    color: var(--First-color);
}

.contact .content-contact .card-con .info p,
a {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

/* End Contact */
/* Start Footer */
footer {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--background-color-3);
    min-height: 10vh;
}

footer .content-footer {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
}

footer .content-footer p {
    color: white;
    font-size: 22px;
    font-weight: 600;
}

footer .content-footer p span a {
    font-weight: 900;
    font-size: 22px;
    color: var(--First-color);
}

/* End Footer */